.server-cluster-el-card-up>.el-card__header {
   background-color: #409EFF;
}
.server-cluster-el-card-down>.el-card__header {
    background-color:#CCCFD5;
 }

.flag {
    position:relative;
    left:35px;
    top:-15px;
}

.el-card__body {
    padding-bottom: 0px;
    padding-top: 0px;
}

li {
    margin-bottom: 10px;
}
.server_cluster{
    margin: 10px;
    float:left;
    width:150px;
}
.server_cluster .title_font{
    color: #ffffff;
    font-size:14px;
}
.server_cluster .jdblue{
    margin-top: -15px;
}
.server_cluster .jdblue_list ul{width:100%;font-size:12px;color:#0167b9}
.server_cluster .jdblue_list li{
    margin-left: -5px;
	line-height:30px;
	height:20px;
    width:100%;
	list-style-type:none;
}
.font_black{color:#2b2b2b}
.font_orange{color:#e51b00}
.server_cluster .jdblue_foot{float:left;width:148px;height:12px;}

