.el-form .search_input {
    margin-bottom: 0px !important;
}

.el-button {
    width:80px !important;
    height: 35px !important;
    padding: 0px 0px !important;
}

.el-input__inner {
    /*width:223px !important;*/
    /*height: 35px !important;*/
}

.fox-toolBar {
    margin-top: 8px;
    margin-bottom: 8px;
}

.split_page_bar{
    margin-top: 8px;
    text-align: right;
}

