<!-- 必须全局拥有唯一的id -->
<div style="background-color: white">
    <el-row :gutter="10" style="margin-top: 15px;margin-left:15px;background-color: white">
        <el-button-group>
            <el-button type="primary" icon="yx-checkmark" @click="selectAll()">全选</el-button>
            <!-- <el-button type="primary" @click="showUpload()">点击上传</el-button> -->
            <!-- <el-button type="primary" icon="el-icon-edit" @click="releaseDeploy()">版本部署</el-button> -->
            <!--   <el-button type="primary" icon="el-icon-share" @click="releaseUnDeploy">版本回退</el-button> -->
            <el-button type="primary" icon="yx-play3" @click="startServer()">启动服务器</el-button>
            <el-button type="primary" icon="yx-switch" @click="stopServer()">停止服务器</el-button>
        </el-button-group>
    </el-row>
    <div class="server_container" style="margin-left:0px;margin-top:5px;background-color: white">
        <yufp-serverstatus v-for="(item, index) in nodeInfos" :key="item.nodeId" :datasource="item" @tap="viewNodeInfo(item,index)"
            v-model="item.checked" :disabled="item.disabled"></yufp-serverstatus>
    </div>
</div>
<style>
    .server_container {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
</style>