<!-- 管理 -->
<div>
    <!--查询区域-->
    <yu-xform related-table-name="refTable" form-type="search">
        <!-- -->
        <yu-xform-group :column="4">
            <yu-xform-item placeholder="版本号" ctype="input" name="versionNum"></yu-xform-item>
        </yu-xform-group>
    </yu-xform>
    <!--按钮区域-->
    <div class="fox-toolBar">
        <el-button-group>
            <el-button icon="yx-upload" @click="showUploadFn">上传</el-button>
            <el-button icon="yx-cloud-upload" @click="publishFn">发布</el-button>
        </el-button-group>
    </div>
    <!--表格区域-->
    <yu-xtable ref="refTable" :data-url="dataUrl" :base-params="baseParams" reserve-selection row-key="id" style="width: 100%">
        <yu-xtable-column prop="versionNum" label="版本号" width="140px"></yu-xtable-column>
        <yu-xtable-column prop="versionType" label="版本类型" data-code="VERSION_TYPE" width="110px"></yu-xtable-column>
        <yu-xtable-column prop="versionPath" label="文件路径"></yu-xtable-column>
        <yu-xtable-column prop="versionUploadUse" label="上传人" width="100px"></yu-xtable-column>
        <yu-xtable-column prop="versionUploadDate" label="上传时间" width="140px"></yu-xtable-column>
        <yu-xtable-column fixed="right" label="操作" width="120">
            <template slot-scope="scope">
                <yu-button @click="infoFn(scope.row)" icon="information" size="mini"></yu-button>
                <!-- <yu-button @click="modifyFn(scope.row)" icon="edit" size="mini"></yu-button> -->
                <yu-button @click="deleteFn(scope.row)" icon="delete" size="mini"></yu-button>
            </template>
        </yu-xtable-column>
    </yu-xtable>
    <!-- 弹出框 数据信息维护页面 -->
    <yu-xdialog :title="viewTitle[viewType]" :visible.sync="dialogVisible" width="800px">
        <yu-xform ref="refForm" label-width="120px" v-model="formdata" :disabled="formDisabled">
            <yu-xform-group>
                <yu-xform-item label="版本号" ctype="input" name="versionNum"></yu-xform-item>
                <yu-xform-item label="版本类型" ctype="select" name="versionType" data-code="NODE_TYPE"></yu-xform-item>
                <yu-xform-item label="文件路径" ctype="input" name="versionPath" :colspan="24"></yu-xform-item>
                <yu-xform-item label="上传时间" ctype="input" name="versionUploadDate"></yu-xform-item>
                <yu-xform-item label="上传人" ctype="input" name="versionUploadUse"></yu-xform-item>
            </yu-xform-group>
            <div class="yu-grpButton">
                <yu-button v-show="saveBtnShow" icon="check" type="primary" @click="submitFn">{{viewTitle[viewType]}}
                </yu-button>
                <yu-button icon="yx-undo2" type="primary" @click="cancelFn">取消</yu-button>
            </div>
        </yu-xform>
    </yu-xdialog>
    <el-dialog-x title="版本文件上传" :visible.sync="upload.visible" :before-close="closeUpload">
        <el-form label-width="120px" ref="uploadForm">
            <el-form-item label="版本号" :rules="upload.rules">
                <el-input v-model="upload.data.versionNum" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="版本类型" :rules="upload.rules"  :disabled="true">
                <el-select v-model="upload.data.versionType" placeholder="版本类型">
                    <el-option v-for="item in versionTypeDic" :key="item.key" :label="item.value" :value="item.key">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-upload ref="uploadList" class="upload-demo" :action="uploadAction" :headers="upload.headers" :data="upload.data" :on-success="handleAvatarSuccess"
                    :on-error="handleAvatarErr" list-type="picture" :file-list="upload.fileList" :auto-upload="false" :on-change="fileChange"
                    :before-upload="beforeUpload" :timeout="900000" :on-progress="onUploadProgress">
                    <el-button slot="trigger" size="small" type="primary">选择文件</el-button>
                </el-upload>
                <el-tag type="success" v-show="showUploadSuccessMsgTag">文件已上传，请等待处理......</el-tag>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer" align="center">
            <el-button type="primary" @click="abortUploading">取消</el-button>
            <el-button type="primary" @click="uploadFile">上传</el-button>
        </div>
    </el-dialog-x>
</div>