<!-- 管理 -->
<div>
    <el-row style="margin-top: 10px;">
        <!--左侧模块管理-->
        <el-col :span="14">
            <h2 class="yu-formTitle" style="margin-bottom: 0px;">服务节点</h2>
            <el-row :gutter="10">
                <el-col :span="14">
                    <el-select v-model="nodeQuery.versionType" placeholder="服务节点类型" class="versionTypeSelect">
                        <el-option v-for="item in nodeTypeDic" :key="item.key" :label="item.value" :value="item.key">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="10">
                    <el-button icon="search" @click="queryNodeListFn" class="versionTypeSelect">查询</el-button>

                </el-col>
            </el-row>
            <!--表格区域-->
            <yu-xtable ref="refNodeTable" :data-url="nodeDataUrl" reserve-selection selection-type="checkbox" row-key="id" style="width: 100%">
                <yu-xtable-column prop="hostIp" label="节点主机"></yu-xtable-column>
                <yu-xtable-column prop="nodeType" label="节点类型" data-code="HOST_TYPE"></yu-xtable-column>
                <yu-xtable-column prop="nodeName" label="节点名称"></yu-xtable-column>
                <yu-xtable-column prop="nodeName" label="当前版本号"></yu-xtable-column>
            </yu-xtable>
        </el-col>
        <!--右侧业务功能管理-->
        <el-col :span="10" style="padding-left:10px">
            <h2 class="yu-formTitle">版本列表</h2>
            <el-row :gutter="10" stype="margin-bottom:10px">
                <el-col :span="18">
                    <el-button type="info" icon="yx-stack" @click="openDeployFn">版本部署</el-button>
                    <el-button icon="search" @click="stepDialogVisible = true">查看部署状态</el-button>
                </el-col>
            </el-row>
            <!--表格区域-->
            <yu-xtable ref="refVersionTable" :data-url="versionDataUrl" reserve-selection selection-type="radio" row-key="id" style="width: 100%;margin-top: 10px;">
                <yu-xtable-column prop="versionNum" label="版本号"></yu-xtable-column>
                <yu-xtable-column prop="versionType" label="版本类型" data-code="HOST_TYPE" width="110px"></yu-xtable-column>
                <yu-xtable-column prop="versionUploadDate" label="上传时间" width="140px"></yu-xtable-column>
            </yu-xtable>
        </el-col>
    </el-row>
    <el-dialog title="版本部署" :visible.sync="deployDialogVisiable">
        <el-form ref="deployFormData" :model="deployFormData" label-width="150px">
            <el-form-item label="版本选择">
                <el-input v-model="deployFormData.version" placeholder="版本号" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="是否需要重启服务">
                <el-select v-model="deployFormData.needRestart" placeholder="请选择">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="deploy()" type="primary">确定</el-button>
            <el-button @click="deployDialogVisiable = false">取消</el-button>
        </div>
    </el-dialog>
    <!-- 弹出框 数据信息维护页面 -->
    <yu-xdialog title="部署状态" :visible.sync="stepDialogVisible" width="1000px">
        <!--表格区域-->
        <yu-xtable ref="refTable" :data-url="dataUrl" reserve-selection row-key="id" style="width: 100%">
            <yu-xtable-column prop="versionId" label="对应版本号"></yu-xtable-column>
            <yu-xtable-column prop="nodeId" label="对应节点编号"></yu-xtable-column>
            <yu-xtable-column prop="deployUser" label="部署用户"></yu-xtable-column>
            <yu-xtable-column prop="deployDate" label="部署时间"></yu-xtable-column>
            <yu-xtable-column prop="deployStep" label="当前步骤节点"></yu-xtable-column>
            <yu-xtable-column prop="deployStepStatus" label="当前步骤节点状态"></yu-xtable-column>
            <yu-xtable-column prop="deployRemark" label="部署结果备注"></yu-xtable-column>
        </yu-xtable>
        <div slot="footer" class="dialog-footer">

            <el-button @click="stepDialogVisible = false">取消</el-button>
        </div>
    </yu-xdialog>
</div>
<style>
    .versionTypeSelect {
        margin: 10px 0 10px 0;
    }
</style>